body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#pageContainer {
	display: flex;
}

#menuContainer {
	flex: 10px;
}

#settingsContainer {
	text-align: center;
}

.menuHeader {
	margin: 0;
	text-align: center;
}

.upgrade {
	height: 30px;
}

.upgradeText {
	margin: 0;
}

.upgradePrice {
	margin: 0;
}


