body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

#pageContainer {
	display: flex;
}

#menuContainer {
	flex: 10px;
	min-width: 150px;
}

.menuSection {

}

.menuHeader {
	margin-bottom: 0;
	text-align: center;
}

/* Utilities */

.textCenter {
	text-align: center;
}

.noMargin {
	margin: 0;
}

/* Upgrades */

.upgrade {

}

.upgradeText {

}

.upgradePrice {

}

.upgradeBuyButton {
	width: 50%;
}

/* Sliders */

.sliderContainer {
	padding: 5px;
	height: 30px;
}

.sliderTextContainer {
	display: flex;
}

.sliderName {
	margin: 0;
	text-align: left;
}

.sliderValue {
	margin: 0;
	text-align: right;
	flex: 1px;
}

.slider {
	width: 100%;
}


